<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
</script>

<script>
    $(document).ready(function () {
        $('#notenTable').DataTable({
            "paging": false
        });
        $('#uebersichtTable').DataTable({
            "paging": false
        });

        $('#rankingTable').DataTable();


        $('.dataTables_length').addClass('bs-select');

    });

    // function addClass() {
    //     var v = document.getElementById("p");
    //     v.className += "addCSS";


    //     var backOfferButton = document.getElementById('back_offer_button');

    //     console.log(backOfferButton.dataset.target);

    //     backOfferButton.dataset.target = "#addDifferentOffer";

    //     console.log(backOfferButton.dataset.target);
    // }


    $(function () {
        $("#Bestaetigen").click(function () {


            // document.forms[0].hash.value = window.location.hash;
        });
    });



    $(function () {
        var hash = window.location.hash;
        hash && $('ul.nav.nav-pills a[href="' + hash + '"]').tab('show');
        $('ul.nav.nav-pills a').click(function (e) {

            $(this).tab('show');
            var scrollmem = $('body').scrollTop();
            window.location.hash = this.hash;

            var hashwithouthash = this.hash.substring(1);
            document.forms[0].hash.value = hashwithouthash;
        });

    });
</script>

<p class="lead mb-3"> </p>
<div style="overflow: auto;" class="lead mb-4, jumbotron jumbotron-fluid">
    <h1 class="display-3, text-center">QisPos 2.0</h1>

    <p class="lead mb-3, text-center">Willkommen <%= student.vorname %></p>
    <div class="text-right">

        <a href="/users/logout" class="btn btn-primary">Logout</a>
    </div>


    <p class="lead mb-3"> </p>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarColor01">
            <!-- <ul class="navbar-nav mr-auto"> -->
            <ul class="nav nav-pills flex-column flex-sm-row">

                <li class="nav-item "><a class="nav-link" data-toggle="tab" href="#Termine">Termine </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#Noten">Noten</a></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#Modul">Module</a></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#Ranking">Ranking</a></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#Evaluation">Evaluation</a><span
                        class="sr-only">(current)</span></a>
                </li>


            </ul>
            </ul>
        </div>
    </nav>



    <var table-size></var>
    <p class="lead mb-3"> </p>
    <div class="container container-small">
        <p class="lead mb-3"> </p>
        <table class="table " style="margin: auto; font-size:80%; width: 80%">
            <thead>
                <tr>
                    <th scope="col">Name des Studierenden</th>
                    <th scope="col">Studiengang</th>
                    <th scope="col">Angestrebter Abschluss</th>
                    <th scope="col">Matrikelnummer</th>

                </tr>
            </thead>
            <tbody>

                <tr class="table">

                    <td><%= student.benutzername %></td>
                    <td><%= studiengang[0].bezeichnung %></td>
                    <td><%= studiengang[0].abschluss %></td>
                    <td><%= student.matrikelnummer %></td>

                </tr>


            </tbody>
        </table>
    </div>

    <form action="/users/dashboard/" method="POST">
        <div id="myTabContent" class="tab-content">



            <div class="tab-pane fade, jumbotron, active " id="Termine">



                <div class="list-group">
                    <% for (var i = 0; i < termine.length; i++) {

                        // Datum umstellen

                        var neuesDatum = termine[i].datum[8] +
                            termine[i].datum[9] +
                            "." +
                            termine[i].datum[5] +
                            termine[i].datum[6] +
                            "." +
                            termine[i].datum[0] +
                            termine[i].datum[1] +
                            termine[i].datum[2] +
                            termine[i].datum[3];

                        %>
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <%= neuesDatum %>
                            <h5 class="mb-1"><%= termine[i].termin_bezeichnung  %></h5>

                            <% var id = "termine_cb_id_" + termine[i].id%>
                            <div class="modal">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Modal title</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="false">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Modal body text goes here.</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" name="<%= id %>" type="checkbox" unchecked> Erledigt
                                </label>
                            </div>
                        </div>
                    </a>
                    <% } %>

                    <p class="lead mb-3"> </p>

                </div>
                <button type="submit" id="Bestaetigen" class="btn btn-primary float-right">Bestätigen</button>
                <br>



                <input type="hidden" name="hash" id="hash">
                <br />
                <br>
                <div class="card text-white bg-success mb-3 mx-auto" style="max-width: 40rem;">
                    <div class="card-header">Termin hinzufügen</div>
                    <div class="card-body">
                        <input type="text" class="form-control" name="termin_name" placeholder="Termin"
                            id="inputDefault">
                        <p class="lead mb-3"> </p>
                        <input type="text" class="form-control" name="termin_datum" placeholder="TT.MM.YYYY"
                            id="inputDefault">
                        <p class="lead mb-3"> </p>
                        <button type="submit" class="btn btn-primary ">Hinzufügen</button>

                    </div>



                </div>


            </div>





            <div class="tab-pane fade, jumbotron" id="Noten">




                <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%" id="notenTable">
                    <thead>
                        <tr class="table-secondary">
                            <th class="th-sm">Prüfungsnr.</th>
                            <th class="th-sm">Bezeichnung der Leistung</th>
                            <th class="th-sm">Semester</th>
                            <th class="th-sm">Note</th>
                            <th class="th-sm">Credits</th>
                            <th class="th-sm">Versuch</th>

                        </tr>
                    </thead>
                    <tbody>

                        <% for (var i = 0; i < noten.length; i++) {
                            %>
                        <tr class="table-light">

                            <td><%= noten[i].nummer %></td>
                            <td><%= noten[i].bezeichnung %> </td>
                            <td><%= noten[i].semester %> </td>
                            <td><%= noten[i].note %> </td>
                            <td><%= noten[i].credits %> </td>
                            <td><%= noten[i].versuch %> </td>
                        </tr>
                        <% } %>

                        <tr class="table-light">

                            <th> </th>
                            <th> </th>
                            <th> </th>
                            <td><%= ges_note[0].gesamtNote /  ges_note[0].count %> </td>
                            <th> </th>
                            <th> </th>
                        </tr>



                    </tbody>
                </table>
                <button type="button" class="btn btn-primary">als PDF downloaden</button>
            </div>


            <div class="tab-pane fade, jumbotron" id="Modul">


                <p class="lead mb-3"> </p>


                <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%"
                    id="uebersichtTable">
                    <thead>
                        <tr class="table-secondary">
                            <th scope="col">Prüfungsnr.</th>
                            <th scope="col">Modul</th>
                            <th scope="col">Prüfer</th>
                            <th scope="col">Semester</th>
                            <th scope="col">Termin</th>
                            <th scope="col">Anmeldedatum</th>
                            <th scope="col">Prüfungsdatum</th>

                        </tr>
                    </thead>
                    <tbody>





                        <% for (var i = 0; i < moduls.length; i++) {

                            // Datum umstellen

                            var neuesAnmeldeDatum = moduls[i].anmeldedatum[8] +
                            moduls[i].anmeldedatum[9] +
                            "." +
                            moduls[i].anmeldedatum[5] +
                            moduls[i].anmeldedatum[6] +
                            "." +
                            moduls[i].anmeldedatum[0] +
                            moduls[i].anmeldedatum[1] +
                            moduls[i].anmeldedatum[2] +
                            moduls[i].anmeldedatum[3];

                            var neuesPruefungsDatum = moduls[i].pruefungsdatum[8] +
                            moduls[i].pruefungsdatum[9] +
                            "." +
                            moduls[i].pruefungsdatum[5] +
                            moduls[i].pruefungsdatum[6] +
                            "." +
                            moduls[i].pruefungsdatum[0] +
                            moduls[i].pruefungsdatum[1] +
                            moduls[i].pruefungsdatum[2] +
                            moduls[i].pruefungsdatum[3];




                            %>

                        <tr class="table-light">
                            <td><%= moduls[i].nummer %></td>
                            <td><%= moduls[i].bezeichnung %> </td>
                            <td><%= moduls[i].benutzername %> </td>
                            <td><%= moduls[i].semester %> </td>
                            <td><%= moduls[i].versuch %> </td>
                            <td><%= neuesAnmeldeDatum %> </td>
                            <td><%= neuesPruefungsDatum %> </td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>




                <div class="grid-container" style="display: grid; grid-template-columns: auto auto;  grid-gap: 50px;">

                    <% for (var i = 0; i < semesters_studiengang.length; i++) {   %>
                    <div class="card mb-3">
                        <h3 class="card-header">Semester <%= semesters_studiengang[i].semester %></h3>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">

                                <% for (var j = 0; j < moduls_studiengang.length; j++) {   
                                        
                                        if (moduls_studiengang[j].semester == semesters_studiengang[i].semester) {
                                           
                                         
                                                   
                                           
                                           
                                            %>

                                <li class="list-group-item">
                                    <a href="#modul" data-toggle="modal" data-target="#modal1"
                                        class="card-link"><%= moduls_studiengang[j].bezeichnung %></a>
                                </li>
                                <% } } %>

                            </ul>

                        </div>

                    </div>


                    <% } %>


                </div>
            </div>

            <% for (var i = 0; i < termine.length; i++) {  %>

            <div id="modal1" class="modal fade">
                <div class="modal-dialog modal-lg" role="document">

                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Modul 1</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="false">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Hier könnte ihr Modultext stehen (wenn ihr Dozent nicht so faul wäre).</p>
                            <div class="list-group">


                                <a href="#"
                                    class="list-group-item list-group-item-action flex-column align-items-start active">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1"><%= termine[i].termin_bezeichnung  %></h5>
                                        <%= neuesDatum %>
                                        <h5 class="mb-1"><%= termine[i].termin_bezeichnung  %></h5>

                                        <% var id = "termine_cb_id_" + termine[i].id%>
                                        <div class="modal">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Modal title</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                            <span aria-hidden="false">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>Modal body text goes here.</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-primary">Save
                                                            changes</button>
                                                        <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" name="<%= id %>" type="checkbox"
                                                    unchecked>
                                                Erledigt
                                            </label>
                                        </div>
                                    </div>
                                </a>


                                <% for (var i = 0; i < termine.length; i++) {
                
                                        // Datum umstellen
                
                                        var neuesDatum = termine[i].datum[8] +
                                            termine[i].datum[9] +
                                            "." +
                                            termine[i].datum[5] +
                                            termine[i].datum[6] +
                                            "." +
                                            termine[i].datum[0] +
                                            termine[i].datum[1] +
                                            termine[i].datum[2] +
                                            termine[i].datum[3];
                
                                        %>

                                <a href="#"
                                    class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1"><%= termine[i].termin_bezeichnung  %></h5>
                                        <%= neuesDatum %>
                                        <h5 class="mb-1"><%= termine[i].termin_bezeichnung  %></h5>

                                        <% var id = "termine_cb_id_" + termine[i].id%>
                                        <div class="modal">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Modal title</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                            <span aria-hidden="false">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>Modal body text goes here.</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-primary">Save
                                                            changes</button>
                                                        <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" name="<%= id %>" type="checkbox"
                                                    unchecked>
                                                Erledigt
                                            </label>
                                        </div>
                                    </div>
                                </a>
                                <% } %>

                                <p class="lead mb-3"> </p>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary">Für ausgewählte Prüfungen anmelden</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>


            <!-- 
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Modulan- und abmeldung</h4>
                                <h6 class="card-subtitle mb-2  text-danger">Wichtige Informationen zur Anmeldung.
                                    Bitte
                                    sorgfältig lesen!</h6>
                                <p class="card-text">Die Reihenfolge der Module in der Liste, die erscheint, wenn
                                    Sie
                                    nachfolgend "Ich akzeptiere" anklicken, stimmt nicht notwendigerweise mit der
                                    Abfolge
                                    der Module überein, die die Fakultäten in ihrer Studienverlaufsplanung angeben.
                                    Wählen
                                    Sie also aus den Modulen, die die Fakultäten im laufenden Semester anbieten,
                                    diejenigen
                                    aus, an denen Sie teilnehmen wollen, suchen Sie die anschließend in der
                                    nachfolgenden
                                    Liste und unternehmen Sie die zum Anmelden erforderliche Schritte.
                                </p>

                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1" unchecked="">
                                    <label class="custom-control-label" for="customCheck1">Ich akzeptiere</label>
                                </div>

                               

                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Bachelor of Science IS Medieninformatik BSc 2012</h4>

                                        <p class="card-text">9900 ECTS-Gesamtpunktekonto</p><br>


                                        <li class=" dropdown">
                                            <a class=" dropdown-toggle" data-toggle="dropdown" href="#"
                                                role="button" aria-haspopup="true" aria-expanded="false">1100
                                                Semestergesamtkonto (Modul
                                                1.1 - 1.5)
                                                [Status:
                                                BE; Note: ,; Credit Points: 30; Malus: 0; Versuch: 1]</a>
                                            <div class="dropdown-menu" x-placement="bottom-start"
                                                style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                                                <a class="dropdown-item" href="#">1510 Wahlpflichtmodul
                                                    Medieninformatik
                                                    (Ausland) 1</a>
                                                <a class="dropdown-item" href="#">1520 Wahlpflichtmodul
                                                    Medieninformatik
                                                    (Ausland) 2</a>
                                                <a class="dropdown-item" href="#"> 1530 Wahlmodul Medieninformatik 1
                                                    (Ausland)</a>
                                                <a class="dropdown-item" href="#"> 1540 Wahlmodul Medieninformatik 1
                                                    (HSB)</a>
                                                <a class="dropdown-item" href="#"> 1550
                                                    Auslandssemester-Begleitung</a>

                                        </li>

                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
                                                role="button" aria-haspopup="true" aria-expanded="false">1200
                                                Semestergesamtkonto (Modul
                                                2.1 - 2.5)
                                                [Status:
                                                BE; Note: ,; Credit Points: 30; Malus: 0; Versuch: 1]</a>
                                            <div class="dropdown-menu" x-placement="bottom-start"
                                                style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                                                <a class="dropdown-item" href="#">1510 Wahlpflichtmodul
                                                    Medieninformatik
                                                    (Ausland) 1</a>
                                                <a class="dropdown-item" href="#">1520 Wahlpflichtmodul
                                                    Medieninformatik
                                                    (Ausland) 2</a>
                                                <a class="dropdown-item" href="#"> 1530 Wahlmodul Medieninformatik 1
                                                    (Ausland)</a>
                                                <a class="dropdown-item" href="#"> 1540 Wahlmodul Medieninformatik 1
                                                    (HSB)</a>
                                                <a class="dropdown-item" href="#"> 1550
                                                    Auslandssemester-Begleitung</a>

                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
                                                role="button" aria-haspopup="true" aria-expanded="false">1300
                                                Semestergesamtkonto (Modul
                                                3.1 - 3.5)
                                                [Status:
                                                BE; Note: ,; Credit Points: 30; Malus: 0; Versuch: 1]</a>
                                            <div class="dropdown-menu" x-placement="bottom-start"
                                                style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                                                <a class="dropdown-item" href="#">1510 Wahlpflichtmodul
                                                    Medieninformatik
                                                    (Ausland) 1</a>
                                                <a class="dropdown-item" href="#">1520 Wahlpflichtmodul
                                                    Medieninformatik
                                                    (Ausland) 2</a>
                                                <a class="dropdown-item" href="#"> 1530 Wahlmodul Medieninformatik 1
                                                    (Ausland)</a>
                                                <a class="dropdown-item" href="#"> 1540 Wahlmodul Medieninformatik 1
                                                    (HSB)</a>
                                                <a class="dropdown-item" href="#"> 1550
                                                    Auslandssemester-Begleitung</a>

                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
                                                role="button" aria-haspopup="true" aria-expanded="false">1400
                                                Semestergesamtkonto (Modul 4.1 - 4.5)</a>
                                            <div class="dropdown-menu" x-placement="bottom-start"
                                                style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                                                <a class="dropdown-item" href="#">1510 Wahlpflichtmodul
                                                    Medieninformatik
                                                    (Ausland) 1</a>
                                                <a class="dropdown-item" href="#">1520 Wahlpflichtmodul
                                                    Medieninformatik
                                                    (Ausland) 2</a>
                                                <a class="dropdown-item" href="#"> 1530 Wahlmodul Medieninformatik 1
                                                    (Ausland)</a>
                                                <a class="dropdown-item" href="#"> 1540 Wahlmodul Medieninformatik 1
                                                    (HSB)</a>
                                                <a class="dropdown-item" href="#"> 1550
                                                    Auslandssemester-Begleitung</a>

                                        </li>

                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
                                                role="button" aria-haspopup="true" aria-expanded="false">1500
                                                Semestergesamtkonto (Modul 5.1 -
                                                5.5)</a>
                                            <div class="dropdown-menu" x-placement="bottom-start"
                                                style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                                                <a class="dropdown-item" href="#">1510 Wahlpflichtmodul
                                                    Medieninformatik
                                                    (Ausland) 1</a>
                                                <a class="dropdown-item" href="#">1520 Wahlpflichtmodul
                                                    Medieninformatik
                                                    (Ausland) 2</a>
                                                <a class="dropdown-item" href="#"> 1530 Wahlmodul Medieninformatik 1
                                                    (Ausland)</a>
                                                <a class="dropdown-item" href="#"> 1540 Wahlmodul Medieninformatik 1
                                                    (HSB)</a>
                                                <a class="dropdown-item" href="#"> 1550
                                                    Auslandssemester-Begleitung</a>

                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
                                                role="button" aria-haspopup="true" aria-expanded="false">1600
                                                Semestergesamtkonto (Modul 6.1 - 6.5)</a>
                                            <div class="dropdown-menu" x-placement="bottom-start"
                                                style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                                                <a class="dropdown-item" href="#">1510 Wahlpflichtmodul
                                                    Medieninformatik
                                                    (Ausland) 1</a>
                                                <a class="dropdown-item" href="#">1520 Wahlpflichtmodul
                                                    Medieninformatik
                                                    (Ausland) 2</a>
                                                <a class="dropdown-item" href="#"> 1530 Wahlmodul Medieninformatik 1
                                                    (Ausland)</a>
                                                <a class="dropdown-item" href="#"> 1540 Wahlmodul Medieninformatik 1
                                                    (HSB)</a>
                                                <a class="dropdown-item" href="#"> 1550
                                                    Auslandssemester-Begleitung</a>

                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
                                                role="button" aria-haspopup="true" aria-expanded="false">1700
                                                Semestergesamtkonto (Modul 7.1 - 7.5)</a>
                                            <div class="dropdown-menu" x-placement="bottom-start"
                                                style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                                                <a class="dropdown-item" href="#">1510 Wahlpflichtmodul
                                                    Medieninformatik
                                                    (Ausland) 1</a>
                                                <a class="dropdown-item" href="#">1520 Wahlpflichtmodul
                                                    Medieninformatik
                                                    (Ausland) 2</a>
                                                <a class="dropdown-item" href="#"> 1530 Wahlmodul Medieninformatik 1
                                                    (Ausland)</a>
                                                <a class="dropdown-item" href="#"> 1540 Wahlmodul Medieninformatik 1
                                                    (HSB)</a>
                                                <a class="dropdown-item" href="#"> 1550
                                                    Auslandssemester-Begleitung</a>

                                        </li>






                                    </div>

                                </div>
                            </div>
                        </div> -->








            <div class="tab-pane fade, jumbotron" id="Ranking">

                <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%"
                    id="rankingTable">
                    <thead>
                        <tr class="table-secondary">
                            <th scope="col">ID</th>
                            <th scope="col">Benutzername</th>
                            <th scope="col">Vorname</th>
                            <th scope="col">Nachname</th>
                            <th scope="col">Email</th>
                            <th scope="col">Matrikelnummer</th>
                        </tr>
                    </thead>
                    <tbody>

                        <% for (var i = 0; i < students.length; i++) {
                %>
                        <tr class="table-light">

                            <td><%= students[i].id %></td>
                            <td><%= students[i].benutzername %></td>
                            <td><%= students[i].vorname %> </td>
                            <td><%= students[i].nachname %></td>
                            <td><%= students[i].email %> </td>
                            <td><%= students[i].matrikelnummer %> </td>
                        </tr>




                        <% } %>

                    </tbody>
                </table>
                <button type="submit" id="Bestaetigen" class="btn btn-primary float-right">Bestätigen</button>
                <p>Durchschnitt</p>
            </div>
            <div class="tab-pane fade, jumbotron" id="Evaluation">
                <input type="text" placeholder="Dozent">
            </div>
        </div>
    </form>
</div>