<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>

<!-- CSS Bootstrap Datepicker Library -->
<link rel='stylesheet prefetch'
    href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.standalone.min.css'>

<!-- PDF Library -->
<script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>

<script type="application/javascript" src="/logic.js"></script>

<script src="https://js.pusher.com/4.4/pusher.min.js"></script>


<script>
    // Enable pusher logging - don't include this in production
    Pusher.logToConsole = true;

    var pusher = new Pusher('6e48ff07949cb7a49f5e', {
        cluster: 'eu',
        forceTLS: true
    });

    var channel = pusher.subscribe('noten');
    channel.bind('neue-noten', function (data) {
        Swal.fire({
            title: 'Es gibt neue Noten!',
            text: "Möchtest du die Seite neu laden?",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            cancelButtonText: 'Nein Danke.',
            confirmButtonText: 'Ja, bitte neu laden!'
        }).then((result) => {
            if (result.value) {
                location.reload(true);
            }
        })
    });
</script>



<p class="lead mb-3"> </p>
<div style="overflow: auto;" class="lead mb-4, jumbotron jumbotron-fluid">
    <h2 class="display-3, text-center">QisPos 2.0</h2>
    <p class="lead mb-3, text-center">Willkommen <%= student.vorname %></p>

    <br>
    <var table-size></var>
    <div class="container container-small">
        <table class="table " style="margin: auto; font-size:80%; width: 80%">
            <thead>
                <tr>
                    <th scope="col">Name des Studierenden</th>
                    <th scope="col">Studiengang</th>
                    <th scope="col">Angestrebter Abschluss</th>
                    <th scope="col">Matrikelnummer</th>
                </tr>
            </thead>
            <tbody>

                <tr class="table">

                    <td><%= student.benutzername %></td>
                    <td><%= studiengang[0].bezeichnung %></td>
                    <td><%= studiengang[0].abschluss %></td>
                    <td><%= student.matrikelnummer %></td>

                </tr>


            </tbody>
        </table>
    </div>

    <p class="lead mb-3"> </p>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarColor01">
            <!-- <ul class="navbar-nav mr-auto"> -->
            <ul class="nav nav-pills flex-column flex-sm-row">

                <li class="nav-item "><a class="nav-link" data-toggle="tab" href="#Termine">Termine </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#Noten">Noten</a></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#Module">Module</a></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#Ranking">Ranking</a></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#Evaluation">Evaluation</a><span
                        class="sr-only">(current)</span></a>
                </li>


            </ul>
            </ul>
        </div>

        <div class="text-right">
            <a href="/users/logout" class="btn btn-primary">Logout</a>
        </div>

    </nav>

    <form action="/users/dashboard/" method="POST">


        <input type="hidden" name="hash" id="hash">



        <div id="myTabContent" class="tab-content">

            <div class="tab-pane fade, jumbotron, active " id="Termine">

                <div class="tab-pane fade, jumbotron">

                    <p
                        style="font-size:150%; color: rgb(44, 62, 80); font-weight: bold; text-align: left; margin-top: -50px;">
                        Termine </p>

                </div>

                <div style="margin-top: -50px;" class="list-group">

                    <% for (var i = 0; i < termine.length; i++) {

                        // Datum umstellen

                        var neuesDatum = termine[i].datum[8] +
                            termine[i].datum[9] +
                            "." +
                            termine[i].datum[5] +
                            termine[i].datum[6] +
                            "." +
                            termine[i].datum[0] +
                            termine[i].datum[1] +
                            termine[i].datum[2] +
                            termine[i].datum[3];

                        %>
                    <a class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <%= neuesDatum %>
                            <h5 class="mb-1"><%= termine[i].termin_bezeichnung  %></h5>

                            <!-- WICHTIG! -->
                            <% var id = "termine_cb_id_" + termine[i].id%>

                            <div class="form-check">

                                <input class="form-check-input" name="<%= id %>" type="checkbox"
                                    style="width:110%; height:110%" unchecked> ‏‏‎

                            </div>
                        </div>
                    </a>
                    <% } %>

                    <p class="lead mb-3"> </p>

                </div>
                <button type="submit" id="Bestaetigen" class="btn btn-primary float-right">Abschließen</button>
                <br>

                <br>
                <div class="card text-white bg-success mb-3 mx-auto" style="max-width: 40rem;">
                    <div class="card-header">Termin hinzufügen</div>
                    <div class="card-body">
                        <input type="text" class="form-control" name="termin_name" placeholder="Termin"
                            id="inputDefault">
                        <p class="lead mb-3"> </p>
                        <!--Hier wird der DatePicker hinzugefügt-->
                        <input type="text" class="form-control" name="termin_datum" placeholder="TT.MM.YYYY"
                            id="datepicker" readonly>
                        <p class="lead mb-3"> </p>
                        <button type="submit" class="btn btn-primary ">Hinzufügen</button>

                    </div>

                </div>

            </div>





            <div class="tab-pane fade, jumbotron" id="Noten">

                <p
                    style="font-size:150%; color: rgb(44, 62, 80); font-weight: bold; text-align: left; margin-top: -50px;">
                    Noten </p>

                <p style="font-size:100%; color: rgb(44, 62, 80); font-weight: bold; text-align: center;">
                    Durchschnitt:
                    <%= (ges_note[0].gesamtNote / ges_note[0].count).toFixed(1) %>
                </p>

                <p style="font-size:100%; color: rgb(44, 62, 80); font-weight: bold; text-align: center;"
                    id="alleCreditsElement"> Gesamtzahl Credits:

                </p>


                <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%" id="notenTable">
                    <thead>
                        <tr class="table-secondary">
                            <th style="background-color:rgb(44, 62, 80);" class="th-sm">Semester</th>
                            <th style="background-color:rgb(44, 62, 80);" class="th-sm">Bezeichnung der Leistung</th>
                            <th style="background-color:rgb(44, 62, 80);" class="th-sm">Note</th>
                            <th style="background-color:rgb(44, 62, 80);" class="th-sm">Credits</th>
                            <th style="background-color:rgb(44, 62, 80);" class="th-sm">Versuch</th>

                        </tr>
                    </thead>
                    <tbody>

                        <% 
                        var alleNotenAlsString = "";
                        var gesamtzahlCredits = 0;
                        
                        for (var i = 0; i < noten.length; i++) { 

                            if(noten[i].note != 0) {
                                
                                alleNotenAlsString += noten[i].nummer + "€" + noten[i].bezeichnung + "€" + noten[i].semester+ "€" + noten[i].note + "€" + noten[i].credits +"€" + noten[i].versuch + "€"; 


                                gesamtzahlCredits += noten[i].credits;

                            %>
                        <tr class="table-light">
                            <td><%= noten[i].semester %> </td>
                            <td><%= noten[i].bezeichnung %> </td>
                            <td><%= noten[i].note %> </td>
                            <td><%= noten[i].credits %> </td>
                            <td><%= noten[i].versuch %> </td>
                        </tr>
                        <% }
                         } 

                         var alleCredits = gesamtzahlCredits;

                         
                         %>




                    </tbody>
                </table>

                <p class="lead mb-3"> </p>

                <button type="button" class="btn btn-primary" onclick="createPDF()">Als PDF downloaden</button>
            </div>


            <div class="tab-pane fade, jumbotron" id="Module">

                <p
                    style="font-size:150%; color: rgb(44, 62, 80); font-weight: bold; text-align: left; margin-top: -50px;">
                    Module </p>


                <p class="lead mb-3"> </p>


                <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%"
                    id="uebersichtTable">
                    <thead>
                        <tr class="table-secondary">
                            <th style="background-color:rgb(44, 62, 80);" scope="col">Semester</th>
                            <th style="background-color:rgb(44, 62, 80);" scope="col">Modul</th>
                            <th style="background-color:rgb(44, 62, 80);" scope="col">Prüfer</th>
                            <th style="background-color:rgb(44, 62, 80);" scope="col">Termin</th>
                            <th style="background-color:rgb(44, 62, 80);" scope="col">Anmeldedatum</th>
                            <th style="background-color:rgb(44, 62, 80);" scope="col">Prüfungsdatum</th>

                        </tr>
                    </thead>
                    <tbody>


                        <% for (var i = 0; i < moduls.length; i++) {

                            // Datum umstellen

                            var neuesAnmeldeDatum = moduls[i].anmeldedatum[8] +
                            moduls[i].anmeldedatum[9] +
                            "." +
                            moduls[i].anmeldedatum[5] +
                            moduls[i].anmeldedatum[6] +
                            "." +
                            moduls[i].anmeldedatum[0] +
                            moduls[i].anmeldedatum[1] +
                            moduls[i].anmeldedatum[2] +
                            moduls[i].anmeldedatum[3];

                            var neuesPruefungsDatum = moduls[i].pruefungsdatum[8] +
                            moduls[i].pruefungsdatum[9] +
                            "." +
                            moduls[i].pruefungsdatum[5] +
                            moduls[i].pruefungsdatum[6] +
                            "." +
                            moduls[i].pruefungsdatum[0] +
                            moduls[i].pruefungsdatum[1] +
                            moduls[i].pruefungsdatum[2] +
                            moduls[i].pruefungsdatum[3];
                            %>

                        <tr class="table-light">
                            <td><%= moduls[i].semester %> </td>
                            <td><%= moduls[i].bezeichnung %> </td>
                            <td><%= moduls[i].benutzername %> </td>
                            <td><%= moduls[i].versuch %> </td>
                            <td><%= neuesAnmeldeDatum %> </td>
                            <td><%= neuesPruefungsDatum %> </td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>


                <p class="lead mb-5"> </p>


                <div class="grid-container" style="display: grid; grid-template-columns: auto auto;  grid-gap: 50px;">

                    <% for (var i = 0; i < semesters_studiengang.length; i++) {   %>
                    <div class="card mb-3">
                        <h3 class="card-header">Semester <%= semesters_studiengang[i].semester %></h3>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">

                                <%
                                
                                                                
                                for (var j = 0; j < moduls_studiengang.length; j++) {   
                                        
                                        if (moduls_studiengang[j].semester == semesters_studiengang[i].semester) {
                                           
                                           
                                            %>

                                <li class="list-group-item">
                                    <a href="#Modul" data-toggle="modal" data-target="#modal1"
                                        class="card-link"><%= moduls_studiengang[j].bezeichnung %></a>
                                </li>
                                <% } } %>

                            </ul>

                        </div>

                    </div>


                    <% } %>


                </div>

            </div>

            <script>
                var cardlinks = document.querySelectorAll('.card-link');

                // Set their ids
                for (var i = 0; i < cardlinks.length; i++) {
                    cardlinks[i].dataset.target = ("#" + cardlinks[i].innerHTML).replace(/ /g, "_");
                    cardlinks[i].id = cardlinks[i].innerHTML;
                }
            </script>

            <% for (var i = 0; i < semesters_studiengang.length; i++) { 

                    for (var j = 0; j < moduls_studiengang.length; j++) {     



                        if (moduls_studiengang[j].semester == semesters_studiengang[i].semester) {
                

                %>

            <div class="modal fade">
                <div class="modal-dialog modal-lg" role="document">

                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title"><%= moduls_studiengang[j].bezeichnung %></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="false">&times;</span>
                            </button>
                        </div>



                        <div class="modal-body">
                            <p>
                                <%= moduls_studiengang[j].beschreibung %>
                            </p>


                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Datum</th>
                                        <th scope="col">Prüfung</th>
                                        <th scope="col">Prüfer
                                        <th scope="col"> Anmelden</th>

                                    </tr>
                                </thead>
                                <tbody>


                                    <% for (var k = 0; k < pruefungs_studiengang.length; k++) {

                    
                                                    if (pruefungs_studiengang[k].moduls_id == moduls_studiengang[j].id) {
                                                        // Datum umstellen
                                
                                                        var neuesDatum = pruefungs_studiengang[k].pruefungsdatum[8] +
                                                        pruefungs_studiengang[k].pruefungsdatum[9] +
                                                            "." +
                                                            pruefungs_studiengang[k].pruefungsdatum[5] +
                                                            pruefungs_studiengang[k].pruefungsdatum[6] +
                                                            "." +
                                                            pruefungs_studiengang[k].pruefungsdatum[0] +
                                                            pruefungs_studiengang[k].pruefungsdatum[1] +
                                                            pruefungs_studiengang[k].pruefungsdatum[2] +
                                                            pruefungs_studiengang[k].pruefungsdatum[3];
                                
                                                        %>

                                    <tr class="table-light">
                                        <th scope="row"><%= neuesDatum %></th>
                                        <td><%= pruefungs_studiengang[k].pruefungs_bez  %></td>
                                        <td><%= pruefungs_studiengang[k].nachname %></td>
                                        <td>

                                            <% var id = "pruefung_cb_" + pruefungs_studiengang[k].id

                                            var abmelden_id = "abmelden_but_" + pruefungs_studiengang[k].id

                                            var angemeldet = false;

                                            for ( l = 0; l < pruefungs_student.length; l++ ) {
                                            
                                            if (pruefungs_student[l].id == student.id &&  pruefungs_student[l].pruefungs_id == pruefungs_studiengang[k].id)   {
                                                angemeldet = true;
                                                if (pruefungs_student[l].note > 0){ 
                                                    
                                                    
                                                    %>
                                            <button type="submit" id="Bestaetigen" name="<%= abmelden_id %>"
                                                class="btn btn-primary " disabled>Abmelden</button>
                                            <% }else {%>

                                            <button type="submit" id="Bestaetigen" name="<%= abmelden_id %>"
                                                class="btn btn-primary">Abmelden</button>


                                            <% }    
                                            }
                                            }
                                            
                                            if (angemeldet == false) { 
                                                %>

                                            <div class="form-check">
                                                <input class="form-check-input" name="<%= id %>" type="checkbox"
                                                    unchecked>

                                            </div>



                                            <% } %>

                                        </td>
                                    </tr>

                                    <% } } %>

                                </tbody>
                            </table>



                            <p class="lead mb-3"> </p>
                        </div>


                        <div class="modal-footer">
                            <button type="submit" id="Bestaetigen" class="btn btn-success">Für ausgewählte Prüfungen
                                anmelden</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Schließen</button>
                        </div>
                    </div>
                </div>
            </div>
            <%                  } 
                       
                    } }
                    %>


            <script>
                var modals = document.querySelectorAll('.modal');
                var cardlinks = document.querySelectorAll('.card-link');


                // Set their ids
                for (var i = 0; i < modals.length; i++) {
                    modals[i].id = (cardlinks[i].innerHTML).replace(/ /g, "_");
                }
            </script>




            <div class="tab-pane fade, jumbotron" id="Ranking">

                <p
                    style="font-size:150%; color: rgb(44, 62, 80); font-weight: bold; text-align: left; margin-top: -50px;">
                    Ranking </p>



                <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%"
                    id="rankingTable">
                    <thead>
                        <tr class="table-secondary">
                            <th style="background-color:rgb(44, 62, 80);" scope="col">Matrikelnummer</th>
                            <th style="background-color:rgb(44, 62, 80);" scope="col">Gesamtnote</th>

                        </tr>
                    </thead>
                    <tbody>

                        <% for (var i = 0; i < students.length; i++) {

                    

                            if (all_ges_note[i][0].students_id !=null) {
                        %>
                        <tr class="table-light">
                            <td><%= students[i].matrikelnummer %> </td>
                            <td> <%= (all_ges_note[i][0].gesamtNote / all_ges_note[i][0].count).toFixed(1) %></td>
                        </tr>


                        <% 
                    }
                    
                    } %>

                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade, jumbotron" id="Evaluation">

                <p
                    style="font-size:150%; color: rgb(44, 62, 80); font-weight: bold; text-align: left; margin-top: -50px;">
                    Evaluation </p>

                <p>Diese Seite ist zurzeit nicht erreichbar. Bitte versuchen Sie es später noch einmal.
                    <br> Vielen Dank und einen guten Rutsch ins neue Jahr 2008.</p>
            </div>
        </div>
        <!-- Studentendaten für die PDF verfügbar machen -->
        <label style="display: none" id="pdf.vorname"> <%= student.vorname%></label>
        <label style="display: none" id="pdf.nachname"> <%= student.nachname%></label>
        <label style="display: none" id="pdf.matrikelnummer"> <%= student.matrikelnummer%></label>
        <label style="display: none" id="pdf.studiengang"> <%= studiengang[0].bezeichnung%></label>
        <label style="display: none" id="pdf.abschluss"> <%= studiengang[0].abschluss%></label>
        <label style="display: none"
            id="pdf.durchschnitt"><%= (ges_note[0].gesamtNote / ges_note[0].count).toFixed(1) %></label>
        <label style="display: none" id="alleCredits"><%= alleCredits%> </label>
        <label style="display: none" id="pdf.noten"><%= alleNotenAlsString%> </label>
        <script>
            var creditsText = document.getElementById("alleCredits").innerHTML;

            document.getElementById("alleCreditsElement").innerHTML += creditsText;
        </script>

        <script
            src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js'></script>
        <!-- JS Datei Bootstrap Sprache Deutsch, muss als zweites JS stehen -->
        <script
            src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/locales/bootstrap-datepicker.de.min.js'>
            </script>

        <!-- Datepicker Aufruf als letztes, bei Bedarf anpassen -->
        <script>
            $('#datepicker').datepicker({
                // Datums-Format, optional DD schreibt Wochentag aus
                format: 'dd.mm.yyyy',
                // Start-Datum aktiv ab -3 Tage vom Tagesdatum
                startDate: '-3d',
                // Tagesdatum hervorheben
                todayHighlight: true,
                // automatisch nach Datumswahl schließen 
                autoclose: true,
                // Sprache Deutsch setzen 
                language: 'de'
            });
        </script>



    </form>
</div>