
<script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>

<script>
    
    $(document).ready(function () {
$('#notenTable').DataTable();
$('.dataTables_length').addClass('bs-select');

});


    
    </script>

<p class="lead mb-3"> </p>
<div class="lead mb-4, jumbotron jumbotron-fluid">
    <h1 class="display-3, text-center">QisPos 2.0</h1>

    <p class="lead mb-3, text-center">Willkommen <%= student.vorname %></p>
    <div class="text-right">

        <a href="/users/logout" class="btn btn-secondary">Logout</a>
    </div>


    <p class="lead mb-3"> </p>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

      
            <div class="collapse navbar-collapse" id="navbarColor01">
                <!-- <ul class="navbar-nav mr-auto"> -->
                <ul class="nav nav-pills flex-column flex-sm-row">

                    <li class="nav-item "><a class="nav-link" data-toggle="tab" href="#Termine">Termine </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#Noten">Noten</a></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#Modul">Module</a></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#Ranking">Ranking</a></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#Evaluation">Evaluation</a><span
                            class="sr-only">(current)</span></a>
                    </li>


                </ul>
                </ul>
            </div>
    </nav>

    <var table-size></var>
    <p class="lead mb-3"> </p>
    <div class="container container-small">
        <p class="lead mb-3"> </p>
        <table class="table" style="margin: auto; font-size:80%; width: 50%">
            <thead>
                <tr>
                    <th scope="col">Name des Studierenden</th>
                    <th scope="col">Studiengang</th>
                    <th scope="col">Angestrebter Abschluss</th>
                    <th scope="col">Matrikelnummer</th>

                </tr>
            </thead>
            <tbody>

                <tr class="table">

                    <td><%= student.benutzername %></td>
                    <td>Empty</td>
                    <td>Empty</td>
                    <td><%= student.matrikelnummer %></td>

                </tr>


            </tbody>
        </table>
    </div>
    <div id="myTabContent" class="tab-content">

        <div class="tab-pane fade, jumbotron, active " id="Termine">
            <input class="form-control mr-sm-2" type="text" placeholder="Suche nach Modulen">
            <p class="lead mb-3"> </p>
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        11.06.19
                        <h5 class="mb-1">Datenbanken Arbeitszettel</h5>

                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="" unchecked="">
                                Erledigt
                            </label>
                        </div>
                    </div>
                </a>
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        11.06.19
                        <h5 class="mb-1">Computergrafiken Aufgabe 8a</h5>

                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input " type="checkbox" value="" unchecked="">
                                Erledigt
                            </label>
                        </div>
                    </div>
                </a>
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        28.06.19
                        <h5 class="mb-1">Datenbanken Projekt Abgabe</h5>

                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="" unchecked="">
                                Erledigt
                            </label>
                        </div>
                    </div>
                </a>
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        10.07.19
                        <h5 class="mb-1">Englisch Klausur</h5>

                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="" unchecked="">
                                Erledigt
                            </label>
                        </div>
                    </div>
                </a>
            </div>

             <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th class="th-sm">Name
      </th>
      <th class="th-sm">Position
      </th>
      <th class="th-sm">Office
      </th>
      <th class="th-sm">Age
      </th>
      <th class="th-sm">Start date
      </th>
      <th class="th-sm">Salary
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Tiger Nixon</td>
      <td>System Architect</td>
      <td>Edinburgh</td>
      <td>61</td>
      <td>2011/04/25</td>
      <td>$320,800</td>
    </tr>
    <tr>
      <td>Garrett Winters</td>
      <td>Accountant</td>
      <td>Tokyo</td>
      <td>63</td>
      <td>2011/07/25</td>
      <td>$170,750</td>
    </tr>
    <tr>
      <td>Ashton Cox</td>
      <td>Junior Technical Author</td>
      <td>San Francisco</td>
      <td>66</td>
      <td>2009/01/12</td>
      <td>$86,000</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th>Name
      </th>
      <th>Position
      </th>
      <th>Office
      </th>
      <th>Age
      </th>
      <th>Start date
      </th>
      <th>Salary
      </th>
    </tr>
  </tfoot>
</table>

        </div>

       



        <div class="tab-pane fade, jumbotron" id="Noten">

            


            <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%" id="notenTable">
                <thead>
                    <tr class="table-secondary">
                        <th class="th-sm" >Prf.-nummer.</th>
                        <th class="th-sm" >Bezeichnung der Leistung</th>
                        <th class="th-sm" >Semester</th>
                        <th class="th-sm" >Note</th>
                        <th class="th-sm" >Credits</th>
                        <th class="th-sm" >Versuch</th>

                    </tr>
                </thead>
                <tbody>


                     <tr class="table-light">

                        <td>1351</td>
                        <td>Programmieren 1 </td>
                        <td>WiSe 18/19 </td>
                        <td>1,0 </td>
                        <td>6 </td>
                        <td>1 </td>
                    </tr>
                    <tr class="table-light">


                        <td>1351</td>
                        <td>Mensch-Computer-Interaktion EA</td>
                        <td>WiSe 18/19 </td>
                        <td>1,0 </td>
                        <td>0 </td>
                        <td>1 </td>
                    </tr>
                 <tr class="table-light">


                        <td>1351</td>
                        <td>Mensch-Computer-Interaktion EA</td>
                        <td>WiSe 18/19 </td>
                        <td>1,0 </td>
                        <td>0 </td>
                        <td>1 </td>
                    </tr>
                 <tr class="table-light">


                        <td>1351</td>
                        <td>Mensch-Computer-Interaktion EA</td>
                        <td>WiSe 18/19 </td>
                        <td>1,0 </td>
                        <td>0 </td>
                        <td>1 </td>
                    </tr>
                     <tr class="table-light">

                                       


                        <td>1351</td>
                        <td>Mensch-Computer-Interaktion EA</td>
                        <td>WiSe 18/19 </td>
                        <td>1,0 </td>
                        <td>0 </td>
                        <td>1 </td>
                    </tr>
                     <tr class="table-light">
                                         


                        <td>1351</td>
                        <td>Mensch-Computer-Interaktion EA</td>
                        <td>WiSe 18/19 </td>
                        <td>1,0 </td>
                        <td>0 </td>
                        <td>1 </td>
                    </tr>
                     <tr class="table-light">
                                        


                        <td>1351</td>
                        <td>Mensch-Computer-Interaktion EA</td>
                        <td>WiSe 18/19 </td>
                        <td>1,0 </td>
                        <td>0 </td>
                        <td>1 </td>
                    </tr>
                     <tr class="table-light">
                                     


                        <td>1351</td>
                        <td>Mensch-Computer-Interaktion EA</td>
                        <td>WiSe 18/19 </td>
                        <td>1,0 </td>
                        <td>0 </td>
                        <td>1 </td>
                    </tr>
                     <tr class="table-light">
                                          


                        <td>1351</td>
                        <td>Mensch-Computer-Interaktion EA</td>
                        <td>WiSe 18/19 </td>
                        <td>1,0 </td>
                        <td>0 </td>
                        <td>1 </td>
                    </tr>
                     <tr class="table-light">
                                         


                        <td>1351</td>
                        <td>Mensch-Computer-Interaktion EA</td>
                        <td>WiSe 18/19 </td>
                        <td>1,0 </td>
                        <td>0 </td>
                        <td>1 </td>
                    </tr>
                     <tr class="table-light">
                                      


                        <td>1351</td>
                        <td>Mensch-Computer-Interaktion EA</td>
                        <td>WiSe 18/19 </td>
                        <td>1,0 </td>
                        <td>0 </td>
                        <td>1 </td>
                    </tr>
                     <tr class="table-light">
                                        


                        <td>1351</td>
                        <td>Mensch-Computer-Interaktion EA</td>
                        <td>WiSe 18/19 </td>
                        <td>1,0 </td>
                        <td>0 </td>
                        <td>1 </td>
                    </tr>
                     <tr class="table-light">
                                       


                        <td>1351</td>
                        <td>Mensch-Computer-Interaktion EA</td>
                        <td>WiSe 18/19 </td>
                        <td>1,0 </td>
                        <td>0 </td>
                        <td>1 </td>
                    </tr>
                     <tr class="table-light">
                                         


                        <td>1351</td>
                        <td>Mensch-Computer-Interaktion EA</td>
                        <td>WiSe 18/19 </td>
                        <td>1,0 </td>
                        <td>0 </td>
                        <td>1 </td>
                    </tr>
                     <tr class="table-light">
                                         


                        <td>1351</td>
                        <td>Mensch-Computer-Interaktion EA</td>
                        <td>WiSe 18/19 </td>
                        <td>1,0 </td>
                        <td>0 </td>
                        <td>1 </td>
                    </tr>
                     <tr class="table-light">
                                         


                        <td>1351</td>
                        <td>Mensch-Computer-Interaktion EA</td>
                        <td>WiSe 18/19 </td>
                        <td>1,0 </td>
                        <td>0 </td>
                        <td>1 </td>
                    </tr>
                     <tr class="table-light">
                                        


                        <td>1351</td>
                        <td>Mensch-Computer-Interaktion EA</td>
                        <td>WiSe 18/19 </td>
                        <td>1,0 </td>
                        <td>0 </td>
                        <td>1 </td>
                    </tr>
                     <tr class="table-light">
                                       


                        <td>1351</td>
                        <td>Mensch-Computer-Interaktion EA</td>
                        <td>WiSe 18/19 </td>
                        <td>1,0 </td>
                        <td>0 </td>
                        <td>1 </td>
                    </tr>
                     <tr class="table-light">



                        <td>1351</td>
                        <td>Mensch-Computer-Interaktion EA</td>
                        <td>WiSe 18/19 </td>
                        <td>1,0 </td>
                        <td>0 </td>
                        <td>1 </td>
                    </tr>
                     <tr class="table-light">


                        <td>1351</td>
                        <td>Mensch-Computer-Interaktion EA</td>
                        <td>WiSe 18/19 </td>
                        <td>1,0 </td>
                        <td>0 </td>
                        <td>1 </td>
                    </tr>
                     <tr class="table-light">


                        <td>1351</td>
                        <td>Mensch-Computer-Interaktion EA</td>
                        <td>WiSe 18/19 </td>
                        <td>1,0 </td>
                        <td>0 </td>
                        <td>1 </td>
                    </tr>
                     <tr class="table-light">


                        <td>1351</td>
                        <td>Mensch-Computer-Interaktion EA</td>
                        <td>SoSe 18/19 </td>
                        <td>1,0 </td>
                        <td>0 </td>
                        <td>1 </td>
                    </tr>
                     <tr class="table-light">


                        <td>1391</td>
                        <td>Mensch-Computer-Interaktion EA</td>
                        <td>WiSe 18/19 </td>
                        <td>1,0 </td>
                        <td>0 </td>
                        <td>1 </td>
                    </tr>
                     <tr class="table-light">


                        <td>12321</td>
                        <td>Mensch-Computer-Interaktion EA</td>
                        <td>WiSe 18/19 </td>
                        <td>1,0 </td>
                        <td>0 </td>
                        <td>1 </td>
                    </tr>


                </tbody>
            </table>
            <button type="button" class="btn btn-secondary">als PDF downloaden</button>
        </div>


        <div class="tab-pane fade, jumbotron" id="Modul">


            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <form action="/users/dashboard/#navheader" method="POST">
                    <div class="collapse navbar-collapse" id="navbarColor01">
                        <!-- <ul class="navbar-nav mr-auto"> -->
                        <ul class="nav nav-pills flex-column flex-sm-row">

                            <li class="nav-item "><a class="nav-link" data-toggle="tab" href="#Übersicht">Übersicht </a>
                            </li>

                            <li class="nav-item active">
                                <a class="nav-link" data-toggle="tab" href="#Anmelden">Anmelden</a>
                            </li>

                        </ul>
                    </div>
                </form>
            </nav>

            <div id="mySecTabContent" class="tab-content">
                <div class="tab-pane fade, active" id="Übersicht">
                    <table class="table">
                        <thead>
                            <tr class="table-secondary">
                                <th scope="col">Prf.-nummer.</th>
                                <th scope="col">Bezeichnung der Leistung</th>
                                <th scope="col">Prüfer</th>
                                <th scope="col">Semester</th>
                                <th scope="col">Termin</th>
                                <th scope="col">Anmeldedatum</th>
                                <th scope="col">Prüfungsdatum</th>
                                <th scope="col">Vermerk</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-light">
                                <td>1411</td>
                                <td>Datenbankbasierte Web-Anwendung EA </td>
                                <td>Tannert </td>
                                <td>SoSe 19 </td>
                                <td>01 </td>
                                <td>12.03.2019 </td>
                                <td>31.08.2019 </td>
                                <td>angemeldet </td>
                            </tr>
                            <tr class="table-light">
                                <td>1421</td>
                                <td>Computergrafik EA </td>
                                <td>Krug </td>
                                <td>SoSe 19 </td>
                                <td>01 </td>
                                <td>12.03.2019 </td>
                                <td>31.08.2019 </td>
                                <td>angemeldet </td>
                            </tr>
                            <tr class="table-light">
                                <td>1431</td>
                                <td>Projekt 2 PA </td>
                                <td>Thema: Betaville </td>
                                <td>SoSe 19 </td>
                                <td>01 </td>
                                <td>12.03.2019 </td>
                                <td>31.08.2019 </td>
                                <td>angemeldet </td>
                            </tr>
                            <tr class="table-light">
                                <td>1441</td>
                                <td>Gestaltung: Ausgewählte Kapitel EA </td>
                                <td>Teufel </td>
                                <td>SoSe 19 </td>
                                <td>01 </td>
                                <td>12.03.2019 </td>
                                <td>31.08.2019 </td>
                                <td>angemeldet </td>
                            </tr>
                            <tr class="table-light">
                                <td>1541</td>
                                <td>Wahlmodul Medieninformatik 1 (HSB) TL</td>
                                <td>Englisch </td>
                                <td>SoSe 19 </td>
                                <td>01 </td>
                                <td>12.03.2019 </td>
                                <td>31.08.2019 </td>
                                <td>angemeldet </td>
                            </tr>

                        </tbody>
                    </table>
                    <button type="button" class="btn btn-secondary">als PDF downloaden</button>

                </div>

                <div class="tab-pane fade" id="Anmelden">

                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Modulan- und abmeldung</h4>
                            <h6 class="card-subtitle mb-2  text-danger">Wichtige Informationen zur Anmeldung. Bitte
                                sorgfältig lesen!</h6>
                            <p class="card-text">Die Reihenfolge der Module in der Liste, die erscheint, wenn Sie
                                nachfolgend "Ich akzeptiere" anklicken, stimmt nicht notwendigerweise mit der Abfolge
                                der Module überein, die die Fakultäten in ihrer Studienverlaufsplanung angeben. Wählen
                                Sie also aus den Modulen, die die Fakultäten im laufenden Semester anbieten, diejenigen
                                aus, an denen Sie teilnehmen wollen, suchen Sie die anschließend in der nachfolgenden
                                Liste und unternehmen Sie die zum Anmelden erforderliche Schritte.
                            </p>

                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1" unchecked="">
                                    <label class="custom-control-label" for="customCheck1">Check this custom
                                        checkbox</label>
                                </div>
                            </div>
                            <!-- Wenn checkbox nicht angeklickt, Card unten ist disabled -->

                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Bachelor of Science IS Medieninformatik BSc 2012</h4>

                                    <p class="card-text">9900 ECTS-Gesamtpunktekonto</p><br>


                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
                                            role="button" aria-haspopup="true" aria-expanded="false">1100
                                            Semestergesamtkonto (Modul
                                            1.1 - 1.5)
                                            [Status:
                                            BE; Note: ,; Credit Points: 30; Malus: 0; Versuch: 1]</a>
                                        <div class="dropdown-menu" x-placement="bottom-start"
                                            style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                                            <a class="dropdown-item" href="#">1510 Wahlpflichtmodul Medieninformatik
                                                (Ausland) 1</a>
                                            <a class="dropdown-item" href="#">1520 Wahlpflichtmodul Medieninformatik
                                                (Ausland) 2</a>
                                            <a class="dropdown-item" href="#"> 1530 Wahlmodul Medieninformatik 1
                                                (Ausland)</a>
                                            <a class="dropdown-item" href="#"> 1540 Wahlmodul Medieninformatik 1
                                                (HSB)</a>
                                            <a class="dropdown-item" href="#"> 1550 Auslandssemester-Begleitung</a>

                                    </li>

                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
                                            role="button" aria-haspopup="true" aria-expanded="false">1200
                                            Semestergesamtkonto (Modul
                                            2.1 - 2.5)
                                            [Status:
                                            BE; Note: ,; Credit Points: 30; Malus: 0; Versuch: 1]</a>
                                        <div class="dropdown-menu" x-placement="bottom-start"
                                            style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                                            <a class="dropdown-item" href="#">1510 Wahlpflichtmodul Medieninformatik
                                                (Ausland) 1</a>
                                            <a class="dropdown-item" href="#">1520 Wahlpflichtmodul Medieninformatik
                                                (Ausland) 2</a>
                                            <a class="dropdown-item" href="#"> 1530 Wahlmodul Medieninformatik 1
                                                (Ausland)</a>
                                            <a class="dropdown-item" href="#"> 1540 Wahlmodul Medieninformatik 1
                                                (HSB)</a>
                                            <a class="dropdown-item" href="#"> 1550 Auslandssemester-Begleitung</a>

                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
                                            role="button" aria-haspopup="true" aria-expanded="false">1300
                                            Semestergesamtkonto (Modul
                                            3.1 - 3.5)
                                            [Status:
                                            BE; Note: ,; Credit Points: 30; Malus: 0; Versuch: 1]</a>
                                        <div class="dropdown-menu" x-placement="bottom-start"
                                            style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                                            <a class="dropdown-item" href="#">1510 Wahlpflichtmodul Medieninformatik
                                                (Ausland) 1</a>
                                            <a class="dropdown-item" href="#">1520 Wahlpflichtmodul Medieninformatik
                                                (Ausland) 2</a>
                                            <a class="dropdown-item" href="#"> 1530 Wahlmodul Medieninformatik 1
                                                (Ausland)</a>
                                            <a class="dropdown-item" href="#"> 1540 Wahlmodul Medieninformatik 1
                                                (HSB)</a>
                                            <a class="dropdown-item" href="#"> 1550 Auslandssemester-Begleitung</a>

                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
                                            role="button" aria-haspopup="true" aria-expanded="false">1400
                                            Semestergesamtkonto (Modul 4.1 - 4.5)</a>
                                        <div class="dropdown-menu" x-placement="bottom-start"
                                            style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                                            <a class="dropdown-item" href="#">1510 Wahlpflichtmodul Medieninformatik
                                                (Ausland) 1</a>
                                            <a class="dropdown-item" href="#">1520 Wahlpflichtmodul Medieninformatik
                                                (Ausland) 2</a>
                                            <a class="dropdown-item" href="#"> 1530 Wahlmodul Medieninformatik 1
                                                (Ausland)</a>
                                            <a class="dropdown-item" href="#"> 1540 Wahlmodul Medieninformatik 1
                                                (HSB)</a>
                                            <a class="dropdown-item" href="#"> 1550 Auslandssemester-Begleitung</a>

                                    </li>

                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
                                            role="button" aria-haspopup="true" aria-expanded="false">1500
                                            Semestergesamtkonto (Modul 5.1 -
                                            5.5)</a>
                                        <div class="dropdown-menu" x-placement="bottom-start"
                                            style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                                            <a class="dropdown-item" href="#">1510 Wahlpflichtmodul Medieninformatik
                                                (Ausland) 1</a>
                                            <a class="dropdown-item" href="#">1520 Wahlpflichtmodul Medieninformatik
                                                (Ausland) 2</a>
                                            <a class="dropdown-item" href="#"> 1530 Wahlmodul Medieninformatik 1
                                                (Ausland)</a>
                                            <a class="dropdown-item" href="#"> 1540 Wahlmodul Medieninformatik 1
                                                (HSB)</a>
                                            <a class="dropdown-item" href="#"> 1550 Auslandssemester-Begleitung</a>

                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
                                            role="button" aria-haspopup="true" aria-expanded="false">1600
                                            Semestergesamtkonto (Modul 6.1 - 6.5)</a>
                                        <div class="dropdown-menu" x-placement="bottom-start"
                                            style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                                            <a class="dropdown-item" href="#">1510 Wahlpflichtmodul Medieninformatik
                                                (Ausland) 1</a>
                                            <a class="dropdown-item" href="#">1520 Wahlpflichtmodul Medieninformatik
                                                (Ausland) 2</a>
                                            <a class="dropdown-item" href="#"> 1530 Wahlmodul Medieninformatik 1
                                                (Ausland)</a>
                                            <a class="dropdown-item" href="#"> 1540 Wahlmodul Medieninformatik 1
                                                (HSB)</a>
                                            <a class="dropdown-item" href="#"> 1550 Auslandssemester-Begleitung</a>

                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
                                            role="button" aria-haspopup="true" aria-expanded="false">1700
                                            Semestergesamtkonto (Modul 7.1 - 7.5)</a>
                                        <div class="dropdown-menu" x-placement="bottom-start"
                                            style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                                            <a class="dropdown-item" href="#">1510 Wahlpflichtmodul Medieninformatik
                                                (Ausland) 1</a>
                                            <a class="dropdown-item" href="#">1520 Wahlpflichtmodul Medieninformatik
                                                (Ausland) 2</a>
                                            <a class="dropdown-item" href="#"> 1530 Wahlmodul Medieninformatik 1
                                                (Ausland)</a>
                                            <a class="dropdown-item" href="#"> 1540 Wahlmodul Medieninformatik 1
                                                (HSB)</a>
                                            <a class="dropdown-item" href="#"> 1550 Auslandssemester-Begleitung</a>

                                    </li>






                                </div>

                            </div>
                        </div>
                    </div>

                    <button type="button" class="btn btn-secondary">Anmelden</button>
                </div>
            </div>



        </div>


        <div class="tab-pane fade, jumbotron" id="Ranking">

<table class="table">
                <thead>
                    <tr class="table-secondary">
                        <th scope="col">ID</th>
                        <th scope="col">Benutzername</th>
                        <th scope="col">Vorname</th>
                        <th scope="col">Nachname</th>
                        <th scope="col">Email</th>
                        <th scope="col">Matrikelnummer</th>
                    </tr>
                </thead>
                <tbody>

          <% for (var i = 0; i < students.length; i++) {
                %>
             <tr class="table-light">

                        <td><%= students[i].id %></td>
                        <td><%= students[i].benutzername %></td>
                        <td><%= students[i].vorname %> </td>
                        <td><%= students[i].nachname %></td>
                        <td><%= students[i].email %> </td>
                        <td><%= students[i].matrikelnummer %> </td>
                    </tr>
    
                  

            
   <% } %>

                </tbody>
            </table>
            <p>Durchschnitt</p>
        </div>
        <div class="tab-pane fade, jumbotron" id="Evaluation">
            <input type="text" placeholder="Dozent">
        </div>
    </div>

</div>